$primary-color:#00cc99;
$secondary-color:#323228;
$third-color:#9b9b9b;
$fourth-color:#ebebeb;
$title-size:36px;
$subtitle-size:22px;
$primary-font:"微軟正黑體";
$content-font-l:20px;
$content-font-m:18px;
