.faq_header {
  background-image: url("../images/faq_banner.png");
  background-position: center center;
  background-attachment: fixed;
  h1 {
    text-align: center;
    color: white;
    font-size: 44px;
    margin-top: 110px;
    span {
      font-size: 28px;
      color: $primary-color;
      margin-top: 16px;
    }
  }
  .banner {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .pure-form {
      width: 80%;
      position: relative;
    }
    .pure-input-2-3 {
      width: 100%;
      padding: 18px 0px 18px 14px;
      margin: 52px 0px 190px 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    i {
      color: black;
      font-size: 26px;
      position: absolute;
      right:16px;
      top: 68px;
    }
  }

  @include iphoneXR() {
    h1{
      span{
        font-size: 22px;
      }
    }
    .banner{
      .pure-form{
        width:100%;
      }
    }
  }

  @include iphoneSE{
    h1{
      font-size: 38px;
      span{
        font-size: 18px;
      }
    }
  }
  .banner{
    .pure-input-2-3{      
      padding: 12px 0px 12px 14px;
    }
    i{
      top: 64px;
      font-size: 22px;
    }
  }
}

.qa {
  margin: 60px 0px;
}

.pay {
  margin-bottom: 60px;
}

.refund {
  margin-bottom: 60px;
}

.q {
  font-size: $content-font-m;
  margin-bottom: 8px;
  @include iphoneSE(){
    font-size: $content-font-m/1.1;
  }
}

.a {
  color: $third-color;
  margin-bottom: 36px;
  span {
    color: $primary-color;
  }
  ol li {
    list-style-type: decimal;
    margin-left: 40px;
  }
  ul {
    margin-bottom: 34px;
    li {
      list-style-type: disc;
      margin-left: 40px;
    }
  }
  p {
    color: black;
    margin-bottom: 10px;
  }
}

.faq_contact {
  padding: 130px 0px 98px 0px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    h3 {
      font-size: 30px;
    }
  }
  .pure-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 48%;
  }
  .pure-form input[type="text"],
  .pure-form input[type="email"],
  .pure-form textarea {
    margin: 8px 0;
    padding: 10px 12px;
    width: 100%;
    font-size: 16px;
  }
  .pure-button {
    padding: 10px 36px;
    border-radius: 5px;
    margin-top: 6px;
  }

  @include pad() {
    padding: 120px 0px 98px 0px;
    .container {
      h3 {
        font-size: 26px;
      }
      .pure-form {
        width: 40%;
      }
      .pure-button {
        padding: 10px 28px;
      }
    }
  }

  @include phone() {
    .container {
      flex-direction: column;
      align-items: center;
      h3 {
        text-align: center;
        margin-bottom: 20px;
      }
      .pure-form {
        width: 100%;
      }
    }
  }
}
