.index_header {
  background-image: url("../images/home_banner.png");
  background-position: center center;
  background-attachment: fixed;
  h1 {
    font-size: 44px;
    line-height: 1.5;
    color: $primary-color;
    margin: 106px 0px 60px 0px;
    span {
      color: white;
    }
  }
  .pure-button {
    padding: 16px 40px;
    margin-bottom: 182px;
    border-radius: 5px;
    font-size: 20px;
  }

  @include iphoneXR() {
    h1 {
      font-size: 32px;
      margin: 96px 0px 30px 0px;
    }
    .pure-button {
      padding: 12px 30px;
      margin-bottom: 220px;
      font-size: 16px;
    }
  }

  @include iphoneSE(){
    h1{
      font-size: 29px;
      margin: 106px 0px 30px 0px;
    }
    .pure-button {
      padding: 10px 20px;
      font-size: 16px;
      margin-bottom: 182px;
    }
  }
}

.course {
  margin: 60px 0px;
  .l-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .course_btn {
      color: $primary-color;
      border: 2px solid $primary-color;
      background: transparent;
      border-radius: 5px;
      padding: 5px 8px;
      &:hover {
        color: lighten($primary-color, 10%);
        border: 2px solid lighten($primary-color, 10%);
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    .course_item {
      width: 30%;
      box-shadow: 1px 1px 5px $third-color;
      padding: 26px 16px 28px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        box-shadow: 3px 3px 5px $third-color;
      }
      h4 {
        margin: 14px 0px 16px 0px;
        text-align: center;
        font-size: $content-font-l;
      }
      p {
        font-size: $content-font-m;
        color: $third-color;
        text-align: justify;
      }
    }
  }

  @include pad() {
    ul {
      .course_item {
        width: 32%;
      }
      p {
        font-size: 16px;
      }
    }
  }

  @include iphoneXR() {
    .course_btn {
      display: none;
    }
    ul {
      flex-wrap: wrap;
      .course_item {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}

.compare {
  margin-bottom: 60px;
  table {
    width: 100%;
  }
  .pure-table {
    border: none;
  }
  .pure-table thead {
    text-align: center;
  }
  .pure-table td,
  .pure-table th {
    padding: 16px 0px;
  }
  .pure-table tbody {
    tr {
      &:hover {
        background: lighten($primary-color, 55%);
      }
      td {
        text-align: center;
      }
    }
  }
  .highlight {
    color: $primary-color;
  }
  @include iphoneXR() {
    .m-hide {
      display: none;
    }
  }
}

.index_contact {
  padding: 130px 0px 98px 0px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3 {
      font-size: 30px;
    }
    .pure-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 48%;
    }
    .pure-form input[type="email"],
    .pure-form input[type="text"] {
      margin: 8px 0;
      padding: 10px 12px;
      width: 100%;
      font-size: 16px;
    }
    .pure-button {
      padding: 10px 36px;
      border-radius: 5px;
      margin-top: 6px;
      @include pad() {
        padding: 10px 28px;
      }
    }
  }

  @include pad() {
  padding: 120px 0px 98px 0px;
    .container {
      h3 {
        font-size: 26px;
      }
      .pure-form {
        width: 40%;
      }
    }
  }

  @include iphoneXR() {
    .container {
      flex-direction: column;
      h3{
        margin-bottom: 20px;
      }
      .pure-form {
        width: 100%;
      }
    }
  }

  @include iphoneSE(){
    .container{
      h3{
        font-size: 24px;
      }
    }
  }
}
